# Ignore build artefacts and leftovers. We recommend setting _build as your meson setup directory
/_build
flatpak/.flatpak-builder/

# Potential code editor files
*~
*#
.#*
.emacs.*
*.swp
TAGS
tags

# MyPaint now uses out of source builds, so the source tree usually shouldn't be modified when building. Most of the
# obvious within source build artefacts have been removed, but I'm not sure about these ones -- Aesara Binder
options.cache
*.pstats
*.autosave
*.gir
*.typelib
