*.swp
*.pyc
*.pyd
_mypaintlib.def
*.so
*.a
*.o
*.os
*~
*#
.emacs.*
.sconsign.dblite
TAGS
tags
brushlib/*-gen.h
brushlib/mypaint-config.h
desktop/mypaint-ora-thumbnailer
lib/test-python-surface
lib/mypaintlib.py
lib/mypaintlib_wrap.cc
lib/mypaintlib_wrap.cpp
mypaint
options.cache
*.mo
POTFILES.in
.#*
*.pstats
*.pc
*.autosave
*.gir
*.typelib
po/tmp
build
flatpak/.flatpak-builder/
MyPaint.egg-info
config.log
config.py
