*.swp
*.pyc
*~
*#
.emacs.*
.sconsign.dblite
TAGS
tags
brushlib/brushsettings.hpp
lib/_mypaintlib.so
lib/mypaintlib.py
lib/mypaintlib_wrap.cpp
lib/mypaintlib_wrap.os
mypaint
options.cache
*.mo
*.pot
POTFILES.in
lib/strokemap_pb2.py
.#*
*.pstats
