<ui>
  <menubar name='Menubar'>
    <menu action='FileMenu'>
      <menuitem action='New'/>
      <menuitem action='Open'/>
      <menuitem action='OpenRecent'/>
      <menuitem action='OpenLast'/>
      <menuitem action='Reload'/>
      <separator/>
      <menuitem action='Save'/>
      <menuitem action='SaveAs'/>
      <menuitem action='Export' />
      <separator/>
      <menuitem action='SaveScrap'/>
      <menuitem action='NextScrap'/>
      <menuitem action='PrevScrap'/>
      <separator/>
      <menuitem action='FrameWindow'/>
      <menuitem action='FrameToggle'/>
      <separator/>
      <menuitem action='Quit'/>
    </menu>
    <menu action='EditMenu'>
      <menuitem action='Undo'/>
      <menuitem action='Redo'/>
      <separator/>
      <menuitem action='PreferencesWindow'/>
    </menu>
    <menu action='ViewMenu'>
      <menuitem action='Fullscreen'/>
      <menuitem action='ShowPopupMenu'/>
      <menuitem action='ToggleSubwindows'/>
      <separator/>
      <!-- ResetView is on its own because it also recentres the canvas, -->
      <menuitem action='ResetView'/>
      <!-- also it should be more accessible then the following resets -->
      <menu action='ResetMenu'>
        <menuitem action='ResetRotation'/>
        <menuitem action='ResetZoom'/>
        <menuitem action='ResetMirror'/>
        <!-- which all operate around the centre of the viewport. -->
      </menu>
      <menuitem action='ZoomIn'/>
      <menuitem action='ZoomOut'/>
      <menuitem action='RotateLeft'/>
      <menuitem action='RotateRight'/>
      <menuitem action='MirrorHorizontal'/>
      <menuitem action='MirrorVertical'/>
      <separator/>
      <menuitem action='SoloLayer'/>
      <menuitem action='ToggleAbove'/>
      <separator/>
      <menuitem action='ViewHelp'/>
    </menu>
    <menu action='BrushMenu'>
      <menuitem action='BrushSelectionWindow'/>
      <menu action='ContextMenu'>
        <menuitem action='ContextStore'/>
        <separator/>
        <menuitem action='Context00'/>
        <menuitem action='Context00s'/>
        <menuitem action='Context01'/>
        <menuitem action='Context01s'/>
        <menuitem action='Context02'/>
        <menuitem action='Context02s'/>
        <menuitem action='Context03'/>
        <menuitem action='Context03s'/>
        <menuitem action='Context04'/>
        <menuitem action='Context04s'/>
        <menuitem action='Context05'/>
        <menuitem action='Context05s'/>
        <menuitem action='Context06'/>
        <menuitem action='Context06s'/>
        <menuitem action='Context07'/>
        <menuitem action='Context07s'/>
        <menuitem action='Context08'/>
        <menuitem action='Context08s'/>
        <menuitem action='Context09'/>
        <menuitem action='Context09s'/>
        <separator/>
        <menuitem action='ContextHelp'/>
      </menu>
      <separator/>
      <menuitem action='BrushSettingsWindow'/>
      <separator/>
      <menuitem action='Bigger'/>
      <menuitem action='Smaller'/>
      <menuitem action='MoreOpaque'/>
      <menuitem action='LessOpaque'/>
      <separator/>
      <menuitem action='Eraser'/>
      <separator/>
      <menuitem action='PickContext'/>
      <separator/>
      <menuitem action='ImportBrushPack'/>
    </menu>
    <menu action='ColorMenu'>
      <menuitem action='ColorSelectionWindow'/>
      <menuitem action='ColorRingPopup'/>
      <menuitem action='ColorChangerPopup'/>
      <menuitem action='ColorPickerPopup'/>
      <menuitem action='ColorHistoryPopup'/>
      <menuitem action='ColorSamplerWindow'/>
      <separator/>
      <menuitem action='Brighter'/>
      <menuitem action='Darker'/>
      <menuitem action='Warmer'/>
      <menuitem action='Cooler'/>
      <menuitem action='Purer'/>
      <menuitem action='Grayer'/>
    </menu>
    <menu action='LayerMenu'>
      <menuitem action='LayersWindow'/>
      <separator/>
      <menuitem action='BackgroundWindow'/>
      <separator/>
      <menuitem action='ClearLayer'/>
      <menuitem action='RemoveLayer'/>
      <menuitem action='MergeLayer'/>
      <separator/>
      <menuitem action='NewLayerFG'/>
      <menuitem action='NewLayerBG'/>
      <separator/>
      <menuitem action='PickLayer'/>
      <menuitem action='LayerFG'/>
      <menuitem action='LayerBG'/>
      <separator/>
      <menuitem action='CopyLayer'/>
      <menuitem action='PasteLayer'/>
      <separator/>
      <menuitem action='IncreaseLayerOpacity'/>
      <menuitem action='DecreaseLayerOpacity'/>
    </menu>
    <menu action='HelpMenu'>
      <menuitem action='Docu'/>
      <menuitem action='ShortcutHelp'/>
      <separator/>
      <menu action='DebugMenu'>
        <menuitem action='InputTestWindow'/>
        <menuitem action='GtkInputDialog'/>
        <menuitem action='PrintInputs'/>
        <separator/>
        <menuitem action='VisualizeRendering'/>
        <menuitem action='NoDoubleBuffereing'/>
        <separator/>
        <menuitem action='PrintMemoryLeak'/>
        <menuitem action='RunGarbageCollector'/>
        <menuitem action='StartProfiling'/>
      </menu>
      <separator/>
      <menuitem action='About'/>
    </menu>
  </menubar>
</ui>
