name: Test

on:
    - push
    - pull_request

jobs:
    linux:
        name: Linux
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v4
            - name: "Install dependencies"
              run: |
                sudo apt-get update
                sudo apt-get install -y \
                  g++ \
                  gettext \
                  intltool \
                  gir1.2-gtk-3.0 \
                  libgtk-3-dev \
                  libjson-c-dev \
                  liblcms2-dev \
                  libpng-dev \
                  librsvg2-common \
                  python3-dev \
                  python-gi-dev \
                  python3-gi-cairo \
                  python3-pytest \
                  python3-numpy \
                  python3-setuptools \
                  swig \
                  git \
                  xvfb
            - name: "Install libmypaint"
              run: |
                git clone https://github.com/mypaint/libmypaint
                pushd libmypaint
                ./autogen.sh
                ./configure --prefix=/usr
                make
                sudo make install
                popd
                sudo rm -fr libmypaint
            - name: "Install mypaint-brushes"
              run: |
                git clone https://github.com/mypaint/mypaint-brushes
                pushd mypaint-brushes
                ./autogen.sh
                ./configure --prefix=/usr
                make
                sudo make install
                popd
                sudo rm -fr mypaint-brushes
            - name: "Build mypaint"
              run: |
                which python3
                python3 -m this
                python3 --version
                python3 setup.py build_ext
                python3 setup.py build
            - name: "Run tests"
              run: |
                pytest --doctest-modules lib
                pytest -rP
                python3 setup.py clean --all
                MYPAINT_DEBUG=1 xvfb-run -a python setup.py demo --args='--run-and-quit'
                sudo python3 setup.py managed_install
                sudo python3 setup.py managed_uninstall
                bash appimage/trigger_build.sh
