[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MyPaint
Exec=mypaint %f
Comment=Paint images from scratch
GenericName=Image Editor
MimeType=image/openraster;image/png;image/jpeg;
Type=Application
Icon=mypaint
Categories=Graphics;
Terminal=false
