[Desktop Entry]
Version=1.0
Name=MyPaint
TryExec=mypaint
Exec=mypaint %f
Comment=Painting program for digital artists
Comment[ro]=Software de artă plastică digitală
Comment[fr]=Logiciel de peinture numérique pour artistes
Comment[nn_NO]=Måleprogram for digitale artistar
Comment[nb_NO]=Maleprogram for digitale artister
Comment[zh_CN]=艺术家的电脑绘画
Comment[zh_TW]=藝術家的电脑绘画
Comment[zh_HK]=藝術家的电脑绘画
GenericName=Raster Graphics Editor
GenericName[fr]=Éditeur d'Image Matricielle
MimeType=image/openraster;image/png;image/jpeg;
Type=Application
Icon=mypaint
StartupNotify=true
Categories=Graphics;GTK;2DGraphics;RasterGraphics;
Terminal=false
